[submodule ".devcontainer/setup/BezierTubes"]
	path = .devcontainer/setup/BezierTubes
	url = git@github.com:noelc-s/BezierTubes.git
	branch = feature/docker
[submodule ".devcontainer/setup/cddlib"]
	path = .devcontainer/setup/cddlib
	url = git@github.com:noelc-s/cddlib.git
[submodule "pybind11"]
	path = ControlStack/pybind11
	url = https://github.com/pybind/pybind11